.app-container {
  display: flexbox;
  align-items: center;
  justify-content: center;
}
.tier-container {
}

.row-container {
  display: inline-flex;
  background: rgba(49, 49, 49, 0.863);
  border: black solid 2px;
}
.tier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  border: black solid 2px;
}

.s {
  background: rgb(253, 93, 93);
}
.a {
  background: rgb(255, 203, 107);
}
.b {
  background: rgb(255, 255, 113);
}
.c {
  background: rgb(122, 255, 122);
}
.d {
  background: lightblue;
}
.e {
  background: rgb(132, 104, 255);
}
.f {
  background: rgb(255, 129, 255);
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;

  color: black;
}

.image-container {
  display: inline-flex;
  background: rgba(49, 49, 49, 0.863);
  width: 40rem;
  height: 4.5rem;
  border: black solid 2px;
}

.image-selector {
  display: inline-flex;
  margin-top: 1rem;
  background: black;
  width: 45rem;
  height: 5rem;
}
.dragging {
  opacity: 0.5;
}
.img {
  margin: 2px;
  height: 70px;
  width: 70px;
  background-image: url("https://cdn.pixabay.com/photo/2015/09/02/13/08/saxophone-918904_960_720.jpg");
  background-size: cover;
}
